html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
h1 {
    text-align: center;
}
.instructions{
    text-align: justify;
    width: 90vw;
    margin: 20px auto;
    font-size: 1em;
}
.instructions p{
    text-indent: 20px;
}
.instructions .instructions__rules{
    margin: 20px 15px;
}
.torres {
    display: flex;
    height: 150px;
    width: 100%;
    margin-top: 50px;
    justify-content: space-around;
}
.torre {
    height: 100%;
    width: 8px;
    background-color: black;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}
#um {
    width: 30px;
    height: 20px;
    border: 3px solid black;
    border-radius: 6px;
    background-color: rgb(127, 146, 211);
}
#dois {
    width: 50px;
    height: 20px;
    border: 3px solid black;
    border-radius: 6px;
    background-color: rgb(90, 90, 199);
}
#tres {
    width: 70px;
    height: 20px;
    border: 3px solid black;
    border-radius: 6px;
    background-color: rgb(90, 199, 132);
}
#quatro {
    width: 90px;
    height: 20px;
    border: 3px solid black;
    border-radius: 6px;
    background-color: rgb(194, 41, 41); 
}
.legendas {
    width: 100wh;
    display: flex;
    margin-top: 20px;
    font-size: 30px;
    font-weight: bold;
    justify-content: space-around;
}

@media (min-width:470px){
    h1 {
        text-align: center;
        padding: 15px;
    }
    .torres {
        display: flex;
        height: 300px;
        width: 100%;
        margin-top: 100px;
        justify-content: space-around;
    }
    .torre {
        height: 100%;
        width: 20px;
        background-color: black;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }
    #um {
        width: 80px;
        height: 40px;
        border: 3px solid black;
        border-radius: 6px;
        background-color: rgb(127, 146, 211);
    }
    #dois {
        width: 100px;
        height: 40px;
        border: 3px solid black;
        border-radius: 6px;
        background-color: rgb(90, 90, 199);
    }
    #tres {
        width: 120px;
        height: 40px;
        border: 3px solid black;
        border-radius: 6px;
        background-color: rgb(90, 199, 132);
    }
    #quatro {
        width: 140px;
        height: 40px;
        border: 3px solid black;
        border-radius: 6px;
        background-color: rgb(194, 41, 41); 
    }
    .legendas {
        width: 100wh;
        display: flex;
        margin-top: 20px;
        font-size: 30px;
        font-weight: bold;
        justify-content: space-around;
    }
}  

